.App {
    /* position: relative; */
    /* width: 100%;
    height: 100%; */
    height: 100vh;
    width: 100vw;
    display: inline-flex;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
