.App {
    /* position: relative; */
    /* width: 100%;
    height: 100%; */
    height: 100vh;
    width: 100vw;
    display: inline-flex;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ui {
    background-color: #ff2a2a;
    color: ghostwhite;
    border-radius: 0.3em;        
    text-align: center;
    align-items: center;
}

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}