@import 'src/utilities/variables';

$mob-gap: 0.75rem;

.app {
  position: relative;

  width: 100vw;
  height: 100%;
  min-height: 100vh;

  display: grid;

  grid:
    'header' 3rem
    'sidemenu' auto
    'body' 1fr /
    1fr;

  padding: 0 $mob-gap;
  gap: $mob-gap;

  @media screen and (min-width: $screen-break) {
    padding: 0;

    grid:
      'header header header header' 3rem
      '...... sidemenu body ......' 1fr /
      1fr minmax(14rem, 20rem) minmax(30rem, 55rem) 2fr;
    gap: 1rem;
  }

  .app-header {
    grid-area: header;
  }

  .app-body {
    grid-area: body;
  }

  .sidemenu {
    grid-area: sidemenu;
  }

  .login-form {
    grid-area: 2 / 1 / -1 / -1;
    justify-self: center;

    @media screen and (min-width: $screen-break) {
      grid-area: 1 / 1 / -1 / -1;
      align-self: center;
    }
  }

  > .error-boundary {
    grid-area: 1 / 1 / -1 / -1;
    justify-self: center;
    align-self: center;
  }
}
