@import 'src/utilities/variables';

.center-container {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  display: grid;
  justify-content: center;
  align-content: center;

  background: rgba(0, 0, 0, 0.6);

  animation: fade-in 0.25s;

  > * {
    animation: fade-in 0.5s;
  }
}

@keyframes fade-in {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
