@import 'src/utilities/variables';

.likesection {
  $height: 1.4rem;

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 0.25rem;
  padding-right: $height - 0.75rem;

  &__btn {
    height: $height;
    width: $height;
    margin: 0;

    padding: 0.15rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.4rem;
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 1px 1px -1px #222;

    transition: 0.15s;

    &::before,
    &::after {
      filter: grayscale(0.5);
      opacity: 0.3;
      transition: opacity 0.15s;
    }

    &::before {
      content: '';

      display: block;
      height: 100%;
      width: 100%;

      background-size: 100%;
      background-repeat: no-repeat;
      background-position: 50%;
    }

    &::after {
      content: attr(data-liked);

      display: block;
      position: absolute;

      font-size: 0.8rem;
    }

    &:hover {

      &::before,
      &::after {
        opacity: 0.8;
      }
    }

    &--like {

      &::before {
        background-image: url(sparkling-heart.png);
      }

      &::after {
        margin-left: 0 - $height + 0.25rem;
      }
    }

    &--dislike {

      &::before {
        filter: grayscale(0.5);
        background-image: url(broken-heart.png);
      }

      &::after {
        margin-left: $height - 0.25rem;
      }
    }

    &[data-pressed='true'] {
      @include stitched();
      background: transparent;
      box-shadow: none;
    }
  }
}
