.Statement {
    width: 70%;
    height: 50%;
    margin: auto;
    margin-top: 3%;
    padding: 2vh;
    text-align: center;
    font-size: 2em;
    border-radius: 0.15em;        
    display: grid;
}

.Diagramm {
    height: 35%;
    width: 80%;
    display: inline-flex;
    margin-left: 10%;
    border: 1px solid #5c6aec;
}

.Result {
    font-size: 1em;
    margin: auto;
}

.Labels {
    display: inline-flex;
    width: 80%;
    height: 20%;
    margin: auto;
}

.CountYes, .CountNo {
    height: 100%;
    width: 50%;
    margin: auto;
}

.CountYes {
    text-align: left;
}

.CountNo {
    text-align: right;
}

#YesRate, #NoRate {
    height: 100%;
    font-size: 1.4em;
}

#YesRate {
    background-color: #5c6aec;
}

#NoRate {
    background-color: white;
}