.Statement {
    width: 70%;
    height: 50%;
    margin: auto;
    margin-top: 3%;
    padding: 2vh;
    text-align: center;
    font-size: 2em;
    color: #ff2a2a;
    background-color: white;
    border: 5px solid #ff2a2a;
    border-radius: 0.15em;        
    display: grid;
}

.Diagramm {
    height: 35%;
    width: 80%;
    display: inline-flex;
    border: 1px solid #ff2a2a;
    margin-left: 10%;
}

.Result {
    color: #ff2a2a;
    font-size: 1.4em;
    margin: auto;
}

.Labels {
    display: inline-flex;
    width: 80%;
    height: 20%;
    margin: auto;
}

.CountYes, .CountNo {
    height: 100%;
    width: 50%;
    margin: auto;
}

.CountYes {
    text-align: left;
}

.CountNo {
    text-align: right;
}

#YesRate, #NoRate {
    height: 100%;
    font-size: 1.4em;
}

#YesRate {
    background-color: #4392e0;
}

#NoRate {
    background-color: #ff4e4e;
}