@import 'src/utilities/variables';

.flows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  @media screen and (min-width: $screen-break) {
    justify-content: flex-end;
  }
}

.flow {
  margin: 0.2rem;
  padding: 0.4rem 0.5rem;

  color: #fff;
  font-weight: 600;
  font-size: 0.95rem;
  text-shadow: 0 1px 2px rgb(14, 13, 13);

  box-shadow: theme(elevate-normal);
  transform: translate(0, -1px);

  transition: transform 0.15s, box-shadow 0.15s;

  &:hover,
  &.button--secondary {
    transform: translate(0, 0);
    box-shadow: theme(elevate-lower);
  }
}
