@import 'src/utilities/variables';

.input-section {
  width: 100%;
  display: grid;

  grid-auto-flow: row;
  row-gap: 2rem;

  @media screen and (orientation: landscape) and (max-device-height: $screen-break-small) {
    row-gap: 1rem;
    padding-top: 1rem;
  }

  > .input-field {
    width: 100%;
  }
}
