@import 'src/utilities/variables';

.login-form {
  position: relative;

  width: 90vw;
  min-width: 18rem;
  min-height: 70vh;

  padding: 10vh 10vw 2vh;
  display: grid;
  grid-template-rows: 2rem 1fr auto 4rem;
  row-gap: 1rem;
  justify-items: center;
  align-items: center;

  background: rgb(68, 68, 66);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;

  &__submit {
    width: 100%;
  }

  &__message {
    position: absolute;
    right: 95%;

    width: 10rem;
    height: fit-content;

    padding: 0.5rem;
    display: flex;
    align-items: flex-end;

    color: #fff;
    font-size: 0.8rem;
    line-height: 0.9rem;
    font-weight: bold;

    border-radius: 0.25rem;
    background: #616161;

    box-shadow: 0 2px 3px #222;

    &--error {
      background: #913b41;
    }
  }

  &--hidden {
    display: none;
  }

  @media screen and (min-width: $screen-break-small) {
    width: 26rem;
    height: 34rem;
    padding: 5rem 3rem 1rem;
  }
}

.login-section {
  display: grid;
  grid-auto-flow: column;
  align-items: center;

  &__greeting {
    display: none;
  }

  @media screen and (min-width: $screen-break-small) {
    column-gap: 0.5rem;

    &__greeting {
      display: flex;
    }
  }
}
