@import 'src/utilities/variables';

.votebar {
  $height: 2rem;

  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 0;

  font-size: 1rem;

  @include stitched();
  background: rgba(255, 255, 255, 0.03);
  border-radius: 0.5rem;
  box-shadow: 0 2px 3px #444;

  &:hover {

    .votebar__bar {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &__bar {
    grid-column: 2;

    --votebar-width: 100%;
    --agree-width: 0.5;

    height: $height;
    width: var(--votebar-width);

    padding: 0.25rem;
    display: flex;
    justify-content: space-between;

    font-weight: 500;
    color: rgba(255, 255, 255, 0.3);

    transition: color 0.25s;

    &::before,
    &::after {
      min-width: 1rem;

      display: flex;
      justify-content: center;
      align-items: center;

      text-shadow: none;
      font-size: 0.9rem;

      border-radius: 0.35rem;
    }

    &::before {
      content: attr(data-agreed);

      margin-right: 0.1rem;
      width: calc(var(--votebar-width) * var(--agree-width));

      background: transparentize(theme(pri), 0.5);
      box-shadow: 0 1px 2px -1px #222;
    }

    &::after {
      content: attr(data-disagreed);

      width: calc(var(--votebar-width) * (1 - var(--agree-width)));
    }

    &[data-voted='+'] {

      &::before {
        color: rgba(255, 255, 255, 0.8);
        text-shadow: inherit;
      }
    }

    &[data-voted='-'] {

      &::after {
        color: rgba(255, 255, 255, 0.8);
        text-shadow: inherit;
      }
    }
  }

  &__btn {
    height: $height;
    width: $height;
    margin: 0;

    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: 0.15s;

    &::before {
      content: '';

      display: block;
      height: 100%;
      width: 100%;

      background-size: 100%;
      background-repeat: no-repeat;
      background-position: 50%;

      filter: grayscale(0.3);
      opacity: 0.5;
      transition: opacity 0.15s;
    }

    &:hover {

      &::before {
        opacity: 0.8;
      }
    }

    &--agree {
      border-radius: 0.5rem 0 0 0.5rem;

      &::before {
        background-image: url(thumbs-up.png);
      }
    }

    &--disagree {
      border-radius: 0 0.5rem 0.5rem 0;

      &::before {
        background-image: url(thumbs-down.png);
      }
    }

    &--agree[data-voted='true'] {
      box-shadow: inset 20px 0 20px -20px transparentize(theme(pri), 0.5);
    }

    &--disagree[data-voted='true'] {
      box-shadow: inset -20px 0 20px -20px transparentize(theme(pri), 0.5);
    }
  }
}
