@import 'src/utilities/variables';

.add-poll {
  width: 90vw;
  min-width: 18rem;
  min-height: 56vh;
  height: fit-content;

  padding: 10vh 8vw 6vh;
  display: grid;
  grid-template-rows: auto auto auto auto;
  row-gap: 1rem;
  justify-items: start;
  align-items: center;

  background: #505050;
  border-radius: 0.5rem;
  @include stitched();
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);

  @media screen and (min-width: $screen-break-small) {
    width: 26rem;
    height: 30rem;
    padding: 5rem 3rem 3rem;

    height: 34rem;
  }

  @media screen and (orientation: landscape) and (max-device-height: $screen-break-small) {
    height: 80vh;
    max-width: 80vw;

    margin-top: 3rem;

    row-gap: 2vh;
    padding: 4vh 5vw 3vh;
  }

  &__splash {
    position: relative;
    justify-self: start;

    font-size: 1.2rem;
    text-transform: uppercase;

    padding-bottom: 0.1rem;
    border-bottom: 2px solid theme(pri);
  }

  > .input-field {
    width: 100%;
  }

  &__statement {
    resize: none;
    height: 7rem;

    padding: 0.5rem;
  }

  &__submit {
    width: 100%;
  }
}

@keyframes fade-in {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.add-poll-trigger {
  $plus-size: 5rem;

  height: 100%;
  width: 100%;
  font-size: $plus-size / 2;

  padding: 0;

  transition: border-color 0s;

  &__msg {
    color: #dadada;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 0.15s;
  }

  > .poll {
    animation: fade-in 1s forwards;
  }

  &::before {
    content: '+';
    position: absolute;
    display: block;
    height: $plus-size;
    width: $plus-size;

    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #838383;
    text-shadow: none;
    font-size: $plus-size;

    border-radius: 50%;
    @include stitched();

    opacity: 0;

    transition: opacity 0.15s, height 0.3s, width 0.3s;
  }

  &:hover {

    .add-poll-trigger__msg {
      opacity: 0;
    }

    &::before {
      opacity: 1;
      height: $plus-size + 1rem;
      width: $plus-size + 1rem;
    }
  }

  &:active {
    background: transparent;

    &::before {
      background: rgba(114, 114, 114, 0.2);
    }
  }

  &--pressed {
    border: none;
  }
}
