@import 'src/utilities/variables';

.new-poll {
  width: 40rem;
  height: 20rem;

  padding: 0.5rem;
  display: grid;
  grid-template-rows: 3rem auto 1fr;
  justify-items: center;
  align-items: center;

  background: rgb(68, 68, 66);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;

  &__splash {
    align-self: start;

    width: 100%;
    height: fit-content;
    margin: 0;

    padding: 0.25rem;

    text-align: center;

    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 2px 3px #222;
  }
}

@keyframes fade-in {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

$plus-size: 5rem;

.new-poll-trigger {
  position: relative;

  height: 100%;
  width: 100%;
  font-size: $plus-size / 2;

  padding: 0;

  transition: border-color 0s;

  &__msg {
    color: #dadada;

    transition: opacity 0.15s;
  }

  > .poll {
    animation: fade-in 1s forwards;
  }

  &::before {
    content: '+';
    position: absolute;
    display: block;
    height: $plus-size;
    width: $plus-size;

    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #838383;
    text-shadow: none;
    font-size: $plus-size;

    border-radius: 50%;
    @include stitched();

    opacity: 0;

    transition: opacity 0.15s, height 0.3s, width 0.3s;
  }

  &:hover {

    .new-poll-trigger__msg {
      opacity: 0;
    }

    &::before {
      opacity: 1;
      height: $plus-size + 1rem;
      width: $plus-size + 1rem;
    }
  }

  &:active {
    background: transparent;

    &::before {
      background: rgba(114, 114, 114, 0.2);
    }
  }

  &--pressed {
    border: none;
  }
}
