.Statement {
    width: 90%;
    height: 70%;
    margin: auto;
    margin-top: 2.5%;
    font-size: 1.5em;       
    display: grid;
}

.statement-text {
    font-family: 'Chakra Petch', sans-serif;
}

.Diagramm {
    height: 35%;
    width: 80%;
    display: inline-flex;
    margin-left: 10%;
    border: 1px solid #5c6aec;
}

.Result {
    font-size: 0.8em;
    margin: auto;
}

.Labels {
    display: inline-flex;
    width: 80%;
    height: 20%;
    margin: auto;
}

.CountYes, .CountNo {
    height: 100%;
    width: 50%;
    margin: auto;
}

.CountYes {
    text-align: left;
}

.CountNo {
    text-align: right;
}

#YesRate, #NoRate {
    height: 100%;
    font-size: 1.4em;
}

#YesRate {
    background-color: #5c6aec;
}

#NoRate {
    background-color: white;
}