@import 'src/utilities/variables';

$radius: 0.35rem;
$outer-padding: 0.1rem;

.input-field {
  position: relative;
  width: fit-content;
  height: fit-content;

  padding: $outer-padding;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  background: inherit;
  border-radius: $radius + $outer-padding;

  user-select: none;

  &__label {
    position: absolute;
    transform: translate(0.75rem, 0);

    height: 0.8rem;
    line-height: 0.8rem;

    color: rgba(255, 255, 255, 0.25);
    font-weight: 400;

    cursor: text;

    transition: 0.1s, background 0s, color 0s;
  }

  &__input {
    height: 100%;
    width: 100%;

    padding: 0.35rem 0.75rem;

    font-weight: 600;
    font-size: 1rem;

    border-radius: $radius;
    border: none;
    border-bottom: 2px solid theme(pri);
    box-shadow: 0 2px 3px -1px #222;

    background: rgba(255, 255, 255, 0.05);

    color: #fff;

    transition: border-color 0.25s;

    &:-webkit-autofill {
      -webkit-animation-name: autofill;
      -webkit-animation-fill-mode: both;
    }
  }

  &__error-message {
    position: absolute;
    right: 0;
    max-width: 10rem;

    padding: 0.4rem;
    display: flex;
    align-items: flex-end;

    color: #fff;
    font-weight: 600;
    font-size: 0.7rem;
    line-height: 0.7rem;

    border-radius: 0.25rem;
    background: #913b41;
    box-shadow: 0 2px 3px -1px #222;

    animation: error-popup 0.25s forwards;
  }

  &--not-empty,
  &:focus-within {

    .input-field__input {
      border-color: theme(pri);
    }

    .input-field__label {
      transform: translate(0.35rem, -120%);
      top: 0;
      align-self: flex-start;

      height: 0.5rem;

      padding: 0 0.05rem;

      color: #fff;
      font-size: 0.7rem;
      line-height: 0.5rem;

      background: inherit;

      cursor: default;

      transition: 0.2s, background 0.1s cubic-bezier(1, 0, 1, 0);
    }
  }

  &--error {

    .input-field__input {
      border-color: theme(acc);
    }

    &:focus-within {

      .input-field__input {
        border-color: theme(acc);
      }
    }
  }
}

@keyframes error-popup {

  0% {
    transform: translate(90%, 0);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translate(calc(0.5rem + 100%), 0);
  }
}

// Auto-fill bg fix for input
@keyframes autofill {

  to {
    color: #fff;
    background: rgba(255, 255, 255, 0.05);
  }
}
