@import 'src/utilities/variables';

.form-field {
  position: relative;
  width: fit-content;
  height: fit-content;

  padding: 0.15rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  background: inherit;
  border: 1px solid #fff;
  border-radius: 0.7rem;

  user-select: none;

  &__label {
    position: absolute;
    margin-left: 0.5rem;

    height: 0.8rem;
    line-height: 0.8rem;

    color: rgb(94, 94, 94);
    font-weight: normal;

    cursor: text;

    transition: 0.1s, background 0s, color 0s;
  }

  &__input {
    height: 1.75rem;
    width: 15rem;

    padding: 0 0.5rem;

    font-family: 'Courier New', monospace;
    font-weight: bold;
    font-size: 1rem;

    border-radius: 0.5rem;
    border: none;
    border-bottom: 2px solid theme(pri);
    box-shadow: 0 2px 3px #222;

    transition: border-color 0.25s;
  }

  &__error-message {
    position: absolute;
    right: 0;
    // transform: translate(200%, 0);

    padding: 0.5rem;

    color: red;
    font-size: 0.8rem;

    border-radius: 0.5rem;
    background: transparentize(theme(acc), 0.8);
  }

  &:hover {

    .form-field__error-message {
    }
  }

  &--error {
    // background: tomato;
    box-shadow: 0 0 5px theme(acc);
  }

  &--not-empty,
  &:focus-within {

    .form-field__input {
      border-color: theme(sec);
    }

    .form-field__label {
      transform: translate(0, -120%);
      align-self: flex-start;

      height: 0.5rem;

      padding: 0 0.05rem;

      color: #fff;
      font-size: 0.7rem;
      line-height: 0.5rem;

      background: inherit;

      cursor: default;

      transition: 0.2s, background 0.1s cubic-bezier(1, 0, 1, 0);
    }
  }
}
