@import 'src/utilities/variables';

.body-header {
  width: 100%;
  margin: 0 0 1rem;

  padding: 0.5rem;
  padding-bottom: 0.35rem;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  font-weight: 600;

  background: rgba(255, 255, 255, 0.05);
  @include stitched();
  border-radius: 0.5rem;
  box-shadow: 0 3px 4px -1px #303030;
}
