@import 'src/utilities/variables';

.button {
  height: 2rem;
  min-width: 2rem;
  width: fit-content;

  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  color: #fff;
  text-shadow: 0 1px 1px #000;

  border-radius: 0.5rem;
  border: 1px solid transparent;
  background: transparentize(theme(pri), 0.5);
  box-shadow: 0 2px 3px #2b2b2b;

  transition: background 0.25s, border-color 0.5s;

  cursor: pointer;

  &:hover {
    background: transparentize(theme(pri), 0.45);
  }

  &:active {
    background: transparentize(theme(pri), 0.4);
  }

  &--small {
    height: 1rem;
    min-width: 1rem;
    font-size: 0.7rem;
  }

  &--large {
    min-height: 2.5rem;
    min-width: 2.5rem;

    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
  }

  &--flat {
    @include stitched();

    background: transparent;
    box-shadow: none;

    &:hover {
      background: initial;
    }

    &:active {
      background: rgba(255, 255, 255, 0.05);
    }
  }

  &--secondary {
    background: transparentize(theme(sec), 0.6);

    cursor: default;

    &:hover {
      background: transparentize(theme(sec), 0.6);
    }
  }
}
