@import './utilities/variables';

html {
  color: #fff;
  font-family: 'Courier New', monospace;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: 'Courier New', monospace;
}

body {
  margin: 0;
  padding: 0;

  background: theme(bg);
}

#root {
  height: 100vh;
  width: 100vw;
}

input,
button {
  outline: none;
}

::selection {
  background: theme(sec);
  color: #fff;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0.25em;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.25em;
  width: 0.5em;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background: transparent;
}
