@import './utilities/variables';

html {
  color: #fff;
  font-family: 'Courier New', monospace;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}

::selection {
  background: theme(sec);
  color: #fff;
}

body {
  margin: 0;
  padding: 0;

  background: theme(bg);
  overflow-x: hidden;

  @extend .scrollable;
}

.scrollable {

  &::-webkit-scrollbar {
    width: 0.75rem;
  }

  &::-webkit-scrollbar-button {
    height: 2%;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

#root {
  height: 100%;
  width: 100vw;
}

input,
button,
textarea {
  outline: none;
}

a {
  color: transparentize(theme(pri), 0.3);

  &:hover {
    color: theme(pri);
  }

  &:active {
    color: theme(sec);
  }
}

.text {

  &--accent {
    color: transparentize(theme(pri), 0.1);

    &:hover {
      color: theme(pri);
    }
  }
}
