@import 'src/utilities/variables';

.app-header {
  position: relative;
  z-index: 1000;
  height: 3rem;

  padding: 0 2rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: theme(header-bg);
  box-shadow: theme(header-shadow);
}
