@import 'src/utilities/variables';

.app-header {
  z-index: 1000;
  position: fixed;
  top: 0;
  height: 3rem;
  width: 100vw;

  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: theme(header-bg);
  box-shadow: theme(header-shadow);

  &__login-section {
    display: grid;
    grid-auto-flow: column;
    column-gap: 0.5rem;
    align-items: center;
  }
}
