@import 'src/utilities/variables';

.likesection {
  $height: 1.5rem;

  position: absolute;
  justify-self: center;
  bottom: 0.5rem;

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 0;
  padding: 0 $height - 0.25rem;

  @include stitched();
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0 2px 3px #444;
  border-radius: 0.4rem;

  &__btn {
    height: $height;
    width: $height;
    margin: 0;

    padding: 0.15rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid transparent;

    transition: 0.15s;
    cursor: pointer;

    &::before,
    &::after {
      filter: grayscale(0.5);
      opacity: 0.4;
      transition: opacity 0.15s;
    }

    &::before {
      content: '';

      display: block;
      height: 100%;
      width: 100%;

      padding: 0.25rem;

      background-size: 100%;
      background-repeat: no-repeat;
      background-position: 50%;

      transform: translate(0, -1px);

      transition: transform 0.15s;
    }

    &::after {
      content: attr(data-liked);

      display: block;
      position: absolute;
      height: 1rem;
      min-width: 1rem;

      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 0.8rem;

      border-radius: 50%;
      box-shadow: 0 1px 2px #222;

      transition: background 0.15s;
    }

    &:hover {

      &::before,
      &::after {
        opacity: 0.8;
      }
    }

    &--like {

      &::before {
        background-image: url(sparkling-heart.png);
      }

      &::after {
        margin-left: 0 - $height + 0.25rem;
      }
    }

    &--dislike {

      &::before {
        filter: grayscale(0.5);
        background-image: url(broken-heart.png);
      }

      &::after {
        margin-left: $height - 0.25rem;
      }
    }

    &[data-pressed='true'] {
      background: transparent;

      &::before {
        transform: translate(0, 0);
      }

      &::after {
        background: transparentize(theme(pri), 0.5);
      }
    }
  }
}
