@import 'src/utilities/variables';

.login-button {
  height: 2em;

  display: flex;
  align-items: center;

  background: transparent;
  border: 1px solid #fff;
  border-radius: 0.5em;
  color: #fff;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  &:active {
    background: transparentize(theme(pri), 0.6);
  }
}
