@import 'src/utilities/variables';

.bottom-statement {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  &__phrase {
    font-size: 0.9rem;
    opacity: 0.2;

    cursor: pointer;

    &:hover {
      opacity: 0.4;
    }
  }
}
