@import 'src/utilities/variables';

.poll {
  height: fit-content;
  min-height: 10em;

  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 2px 3px #222;
  border-radius: 0.5rem;
  @include stitched();

  &__name {
    width: 100%;
    margin: 0 0 0.5rem;

    padding: 0.25rem;
    padding-bottom: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.35rem;
    font-weight: bold;
    text-align: center;

    @include stitched();
    border-radius: 0.5rem;
    // background: rgba(255, 255, 255, 0.05);
    // box-shadow: 0 1px 2px #222;
  }

  &__votes {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    > .votebar {
      width: 90%;
    }

    > .likesection {
      margin-top: 0.5rem;
      align-self: flex-end;
    }
  }
}
