.Panel {
    width: 25%;
    height: 100%;
    overflow: hidden;
}

.button {
    height: 3.5vh;
    text-align: center;
    width: 96%;
    margin: auto;
    margin-top: 3%;
    font-size: 1.6em;
}

.input {
    position: relative;
    left: 2%;
    width: 94%;
}

#LogButt {
    border: none;
    left: 2%;
    position: relative;
}

a {
    text-decoration: none;
}

#LogPanelTabs {
    display: inline-flex;
    height: 6%;
    width: 100%;
}

.LogPanelTab {
    margin: 1%;
    height: 100%;
    width: 33%;
    font-size: 1.2em;
}

.lh {
    line-height: 3em;
}

.lh_2line {
    line-height: 1.5em;
}

form {
    width: 102%;
    margin-left: -1.1%;
}

.LogForm {
    height: 40%;
}

.message {
    font-size: 1.2em;
    margin-top: 2%;
    text-align: center;
}