.Panel {
    width: 25%;
    /* float: right; */
    height: 100%;
    border: 1px solid blue;
}

.button {
    height: 3.5vh;
    text-align: center;
    width: 96%;
    margin: auto;
    margin-top: 3%;
    font-size: 1.6em;
}

.input {
    position: relative;
    left: 2%;
    width: 94%;
}

#LogButt {
    border: none;
    left: 2%;
    position: relative;
}

a {
    text-decoration: none;
}

#LogPanelTabs {
    display: inline-flex;
    height: 6%;
    width: 100%;
}

.LogPanelTab {
    margin: 1%;
    height: 100%;
    width: 33%;
    font-size: 1.2em;
}

.LogForm {
    height: 40%;
    /* width: 90%; */
}

#activeLogPanelTab {
    background-color: #bb0000;
}

.message {
    color: #ff2a2a;
    background-color: white;
    font-size: 1.2em;
    margin-top: 2%;
    text-align: center;
}